body{
    background-color: #ff00cc;
}
div{
    background-color: pink;
}
h1{
    text-align: center;
    
    
}
h2{
    text-align: center;
    color: rgb(42, 149, 165);
}
p{
    text-align: center;
    
}